@import url("https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  height: 100vh;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  background-image: url(img/ameenfahmy-1oCXPG_7_U4-unsplash.jpg);

  background-size: Auto 100%;
  color: #fdddb2;
}

header div {
  margin-top: 150px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  padding: 35px 0px;
  justify-content: center;
  align-items: center;
  font-family: "Caudex", serif;
  font-weight: 700;
  font-style: normal;

  box-shadow: 0 -10px 10px -5px rgba(0, 0, 0, 0.75),
    0 10px 10px -5px rgba(0, 0, 0, 0.75);
}

#logo_img {
  width: 80px;
  height: auto;
}

main {
  flex: 2;
  color: #020506;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  background-color: #e0e0e0;
  box-shadow: 0px 10px 10px #bebebe, 0px -3px 10px #ffffff;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;

  font-style: normal;
}
form {
  display: flex;
  flex-direction: column;
  padding: 30px 0px 30px 50px;
  gap: 10px;
}

#text,
#signup_btn {
  padding-left: 30px;
  width: 70%;
}

.text {
  padding: 10px 0px;
}

#flex_container {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}
#flex_container div {
  flex: 1 0 50%;
  min-width: 40%;
}

#sign_up_form {
  box-shadow: 0px 10px 10px #bebebe, 0px -3px 10px #ffffff;
}
input,
label {
  display: block;
}

label {
  padding: 10px 0px 3px 3px;
}

input {
  border-radius: 3px;
  max-width: 190px;

  background: none;
  border: none;
  outline: none;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 3px;
  box-shadow: inset 2px 5px 10px #bebebe;
  color: #020506;
}

.submit_btn {
  padding: 5px 10px;
  border-radius: 5px;
  background: #e0e0e0;
  box-shadow: -25px 25px 50px #bebebe, 25px -25px 50px #ffffff;
    font-family: "Roboto Mono", monospace;
    margin-left: 20px;
}
